<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约挂号系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <!--<link rel="stylesheet" href="../static/css/header.css">-->

    <link rel="stylesheet" href="../static/css/appointinfo.css">
</head>

<body>
<div class="header"></div>
<!--appointinfo-->
<div class="content" id="appointinfo">
    <div class="row">
        <aside class="usrinfo col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
            <img id="usricon" src="../static/img/appointinfo/usricon.png"/>
            <div id="welcomelabel">欢迎您！冯凯文</div>
            <a class="usrinfolink" id="usrinfoindex" href="index.html">●&nbsp首&nbsp页</a>  <a class="usrinfolink" id="usrinfoquit">●&nbsp退&nbsp出</a>
            <div class="usrselected">预约信息</div>
            <div class="usrunselected">个人信息</div>
        </aside>
        <article class="myappnt col-md-8 col-lg-8 ">
            <div id="atcllabel">
                <!--<img src="../static/img/appointinfo/myappnticon.png">-->
                <span>我的预约</span>
            </div>
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <td>就诊时间</td>
                    <td>医院</td>
                    <td>科室</td>
                    <td>医生</td>
                    <td>诊费(元)</td>
                    <td>订单状态</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2016-11-11</td>
                    <td>中日友好医院</td>
                    <td>脑科</td>
                    <td>于医生</td>
                    <td>233</td>
                    <td>已付款</td>
                    <td><a href="http://kevinfeng.moe/pay.html">支付</a> <a>取消</a> <a>打印预约单</a> <a>打印挂号单</a></td>
                </tr>
                <tr>
                    <td>2016-11-11</td>
                    <td>中日友好医院</td>
                    <td>耳鼻喉科</td>
                    <td>于医生</td>
                    <td>233</td>
                    <td>已付款</td>
                    <td><a href="http://kevinfeng.moe/pay.html">支付</a> <a>取消</a> <a>打印预约单</a> <a>打印挂号单</a></td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>

</div>
<div class="footer"></div>
</body>
<script type="text/javascript" src="../static/js/jquery-3.0.0.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/appointinfo.js"></script>
<!--<script src="../static/js/header.js"></script>-->
</html>