<link rel="stylesheet" href="/static/css/header.css">
<div class="login-layer hidden">

    <div class="login-background">

    </div>
</div>

<div class="fastTop">
    <div class="searchBox">
        <!--登录框-->
        <div class="login-table hidden">
            <div class="dl_close">
                <img src="/static/img/dl_close.png">
            </div>
            <div id="login">
                <form action="/OrderAndVisit/login">
                    <dl class="dl_username">
                        <dt>用户名：</dt>
                        <dd>
                            <input class="usernameInput" placeholder="请输入用户名" name="name">
                        </dd>
                    </dl>
                    <dl class="dl_password">
                        <dt>密&nbsp;码：</dt>
                        <dd>
                            <input type="password" class="passwordInput" placeholder="请输入密码" name="password">
                        </dd>
                    </dl>
                    <div class="submit">
                        <input id="submitLogin" type="submit" value="登录">
                        <a href="/OrderAndVisit/registerpage/" id="registerButton">注册</a>
                    </div>
                </form>
            </div>
        </div>
        <!-------->
        <div class="logo">
            <a class='logo' href="/OrderAndVisit/">
                <img class="logo" src="/static/img/logo.png">
            </a>
        </div>
        <div class="area"></div>


        <div class="keyword"></div>
        <form id="searchForm" method="get" action="/OrderAndVisit/search/">
            <div class="search-option">
                <span class="intext">医　院</span>
                <span>∨</span>
            </div>

            <div class="search-selection" style="display: none;">
                <ul>
                    <!--隐藏的input表单用来获取已经选取的选项-->
                    <input id="selection" value="h" style="display: none;" name="choice">

                    <!-- <select name="choice">-->
                    <!--<option value="h"><li>医&nbsp;院</li></option>
                    <option value="o"><li>科&nbsp;室</li></option>
                    <option value="d"><li>医&nbsp;生</li></option>
                    </select>-->

                    <li value="h">医　院</li>
                    <li value="o">科　室</li>
                    <li value="d">医　生</li>
                </ul>
            </div>
            <input id="searchInput" placeholder="请输入医院/科室/医生" type="text" name="key">
            <button id="searchButton" type="submit">搜&nbsp;索</button>
        </form>
        <div class="login">
            {% if user %}
            <div class="welcomebuttom">
                欢迎您！<a href="/OrderAndVisit/myInfo/">{{name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                    href="/OrderAndVisit/logout/">注销</a>
            </div>
            {% else %}
            <div class="loginButton">
                <button href="#">登&nbsp;录</button>
            </div>
            <div class="registerButton">
                <a href="/OrderAndVisit/registerpage/">注&nbsp;册</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!---->
<!--导航栏-->
<div class="banner">
    <div class="banner-content">
        <div class="home selected banner0">
            <a href="/OrderAndVisit/">首页</a>
        </div>
        <div class="hospitalSearch unselected banner0">
            <a href="/OrderAndVisit/hospitalSearch/,1,1">按医院挂号</a>
        </div>

        <div class="officeSearch unselected banner0">
            <a href="/OrderAndVisit/officeSearch/">按科室挂号</a>
        </div>

        <div class="doctorSearch unselected banner0">
            <a href="/OrderAndVisit/doctorSearch/,1">按医生挂号</a>
        </div>
    </div>

</div>
<script src="/static/js/header.js"></script>