<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医院信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/hosinfo.css">
</head>
<body onload="load()">
<div class="header"></div>
<div class="container-fluid">
    <div class="row">
        <!--<div class="col-lg-offset-1 col-md-offset-1" id="smallLink">-->
            <!--<a>首页</a>-->
            <!--&gt;-->
            <!--<a>北京</a>-->
            <!--&gt;-->
            <!--<a>{{name}}</a>-->
        <!--</div>-->
    </div>
    <div class="row" id="hosBscInfo">
        <img class="col-md-offset-1 col-lg-1 col-md-offset-1 col-md-1 img-responsive" src=""/>
        <div class="col-md-9 col-lg-9" id="hosInfoSim">
            <span id="hosName">{{name}}</span><br>
            <span class="hosInfoGrey">医院电话: </span><span id="hosTel">{{phonenum}}</span><br>
            <span class="hosInfoGrey">医院地址: </span><span id="hosAddr">{{address}}</span><br>
            <span class="hosInfoGrey">有优质医生</span><span class="hosInfoOrng">{{docnum}}</span><span class="hosInfoGrey">人   完成服务</span><span class="hosInfoOrng">{{peoplen}}</span><span class="hosInfoGrey">次</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-md-offset-1 col-lg-offset-1">
            <div class="hosCntntLbl">医院信息</div>
            <p>{{info}}</p>
            <div class="hosCntntLbl">门诊科室</div>
            <!--<div class="hosClass row">-->
                <!--<div class="hosClassTitle col-lg-2 col-md-2">内科</div>-->
                <!--<div class="hosClassCntnt col-lg-10 col-md-10">xxx xxx xxxxxxxx xxxx<br> xxxx  xxxx<br> xxx</div>-->
            <!--</div>-->
            <!--<div class="hosClass row">-->
                <!--<div class="hosClassTitle col-lg-2 col-md-2">外科</div>-->
                <!--<div class="hosClassCntnt col-lg-10 col-md-10">xxx xxx xxxxxxxx xxxx<br> xxxx  xxxx<br> xxx</div>-->
            <!--</div>-->
            <!--<div class="hosClass row">-->
                <!--<div class="hosClassTitle col-lg-2 col-md-2">妇产科</div>-->
                <!--<div class="hosClassCntnt col-lg-10 col-md-10">xxx xxx xxxxxxxx xxxx<br> xxxx  xxxx<br> xxx</div>-->
            <!--</div>-->
            {% regroup dep by classinfo as class_list %}
            {% for class in class_list %}
            <div class="hosClass row">
                 <div class="hosClassTitle col-lg-2 col-md-2">{{class.grouper}}</div>
                 <div class="hosClassCntnt col-lg-10 col-md-10">
                     {% for item in class.list %}
                     {% if forloop.counter|divisibleby:'5' %}
                        <a href="/OrderAndVisit/officeinfo/o1{{item.id}}d2/">{{item.name}}</a><br>
                     {% else %}
                        <a href="/OrderAndVisit/officeinfo/o1{{item.id}}d2/">{{item.name}}</a>
                     {% endif %}
                     {% endfor %}
                 </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
<script type="text/javascript" src="/static/js/jquery-3.0.0.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/hosinfo.js"></script>
<script src="/static/js/addheader.js"></script>
</html>