<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医院信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <link rel="stylesheet" href="../static/css/hosinfo.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1" id="smallLink">
            <a>首页</a>
            >
            <a>北京</a>
            >
            <a>中日友好医院</a>
        </div>
    </div>
    <div class="row" id="hosBscInfo">
        <img class="col-md-offset-1 col-lg-1 col-md-offset-1 col-md-1 img-responsive" src=""/>
        <div class="col-md-9 col-lg-9" id="hosInfoSim">
            <span id="hosName">中日友好医院</span><br>
            <span class="hosInfoGrey">医院电话: </span><span id="hosTel">xxxxxxxxxxxxxxx</span><br>
            <span class="hosInfoGrey">重点科室: </span><a href="#">xxx</a> <a>xxx</a><br>
            <span class="hosInfoGrey">医院地址: </span><span id="hosAddr">xxxxxxx</span><br>
            <span class="hosInfoGrey">有优质医生</span><span class="hosInfoOrng">xxxx</span><span class="hosInfoGrey">人   完成服务</span><span class="hosInfoOrng">xxxx</span><span class="hosInfoGrey">次</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-md-offset-1 col-lg-offset-1">
            <div class="hosCntntLbl">医院信息</div>
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            <div class="hosCntntLbl">门诊科室</div>
            <div class="hosClass row">
                <div class="hosClassTitle col-lg-1 col-md-1">内科</div>
                <div class="hosClassCntnt col-lg-10 col-md-10">xxx xxx xxxxxxxx xxxx<br> xxxx  xxxx<br> xxx</div>
            </div>
            <div class="hosClass row">
                <div class="hosClassTitle col-lg-1 col-md-1">外科</div>
                <div class="hosClassCntnt col-lg-10 col-md-10">xxx xxx xxxxxxxx xxxx<br> xxxx  xxxx<br> xxx</div>
            </div>
            <div class="hosClass row">
                <div class="hosClassTitle col-lg-1 col-md-1">妇产科</div>
                <div class="hosClassCntnt col-lg-10 col-md-10">xxx xxx xxxxxxxx xxxx<br> xxxx  xxxx<br> xxx</div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../static/js/jquery-3.0.0.js"></script>
<script src="../static/js/bootstrap.js"></script>
</html>