<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约挂号系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
<div class="header"></div>
</body>
<script type="text/javascript" src="../static/js/jquery-3.0.0.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/index.js"></script>

</html>