<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约挂号系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">

    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

<!--搜索框 logo-->
<div class="fastTop">
    <div class="searchBox">
        <div class="logo"></div>

        <div class="area"></div>

        <div class="keyword"></div>

        <div class="login"></div>
    </div>
</div>
<!---->

<!--导航栏-->
<div class="banner">
    <div class="banner-content">
        <div class="home selected">
            <a href="#">首页</a>
        </div>
        <div class="hospitalSearch unselected">
            <a href="#">按医院挂号</a>
        </div>

        <div class="officeSearch unselected">
            <a href="#">按科室挂号</a>
        </div>

        <div class="doctorSearch unselected">
            <a href="#">按医生挂号</a>
        </div>
    </div>

</div>
<!---->

<!--推荐信息-->
<div class="info">
    <!--bootstrap carousel 轮播插件-->
    <div class="carousel"></div>

    <div class="promoted"></div>

    <div class="news"></div>
</div>
<!---->

<!--版权信息-->
<div class="bottom"></div>
<!---->

</body>
<script type="text/javascript" src="../static/js/jquery-3.0.0.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/main.js"></script>
</html>