<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/myinfo.css">

</head>
<body onload="onload()">
<!--myinfo-->
<div class="header"></div>
<div class="content" id="myinfo">
    <div class="row">
        <aside class="usrinfo col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
            <img id="usricon" src="/static/img/appointinfo/usricon.png"/>
            <div id="welcomelabel">欢迎您！{{ name }}</div>
            <a class="usrinfolink" id="usrinfoindex" href="/OrderAndVisit/">首页</a>  <a class="usrinfolink" id="usrinfoquit">退出</a>
            <div class="usrunselected"><a href="/OrderAndVisit/appointinfo/">预约信息</a></div>
            <div class="usrselected">个人信息</div>
        </aside>
        <article class="myInfo col-md-8 col-lg-8">
            <div class="row" id="myInfoLbl">
                <button class="btn col-md-2 col-lg-2 myInfoLblSelected" id="myInfoBtn" onclick="myInfoCntntDis()">个人信息</button>
                <button class="btn col-md-2 col-lg-2 myInfoLblUnSelected" id="changePWBtn" onclick="changePWDis()">修改密码</button>
            </div>
            <div id="myInfoCntntDiv">
                <div class="row myInfoCntntRow" id="nameRow">
                    <span class="myInfoGrey col-md-2 col-lg-2"> 姓&nbsp&nbsp&nbsp&nbsp名:</span><span class="col-lg-3 col-md-3 infoText">{{ name }}</span>
                </div>
                <div class="row myInfoCntntRow" id="genderRow">
                    <span class="myInfoGrey col-md-2 col-lg-2"> 性&nbsp&nbsp&nbsp&nbsp别:</span><span class="col-lg-3 col-md-3 infoText">{{ sex }}</span>
                </div>
                <div class="row myInfoCntntRow" id="IDCRow">
                    <span class="myInfoGrey col-md-2 col-lg-2"> 证&nbsp&nbsp&nbsp&nbsp件:</span><span class="col-lg-3 col-md-3 infoText">{{ idNum }}</span>
                </div>
                <div class="row myInfoCntntRow" id="AddrRow">
                    <span class="myInfoGrey col-md-2 col-lg-2"> 居住地:</span><span class="col-lg-3 col-md-3 infoText">北京市海淀区学院路37号</span>
                </div>
                <div class="row myInfoCntntRow" id="PhoneRow">
                    <span class="myInfoGrey col-md-2 col-lg-2"> 手&nbsp&nbsp&nbsp&nbsp机:</span><span class="col-lg-3 col-md-3 infoText">{{ telephone }}</span>
                </div>
                <div class="row myInfoCntntRow" id="CheckRow">
                    <span class="myInfoGrey col-md-2 col-lg-2"> 登&nbsp&nbsp&nbsp&nbsp记:</span><span class="col-lg-3 col-md-3 infoText">有效</span>
                </div>
            </div>
            <form id="changePWForm">
                <div class="row changePWRow">
                    <span class="col-lg-offset-3 col-md-offset-3 col-lg-2 col-md-2">原密码:</span>
                    <input type="password" class="col-lg-3 col-md-3"/>
                </div>
                <div class="row changePWRow">
                    <span class="col-lg-offset-3 col-md-offset-3 col-lg-2 col-md-2">新密码:</span>
                    <input type="password" class="col-lg-3 col-md-3"/>
                </div>
                <div class="row changePWRow">
                    <span class="col-lg-offset-3 col-md-offset-3 col-lg-2 col-md-2">确认新密码:</span>
                    <input type="password" class="col-lg-3 col-md-3"/>
                </div>
            </form>
        </article>
    </div>
</div>
<div class="footer"></div>
</body>
<script src="/static/js/jquery-3.0.0.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/myinfo.js"></script>
<script src="/static/js/addheader.js"></script>
</html>