<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册新用户</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
<div class="row" id="registerTitleRow" >
    <div id="registerLbl" class="col-md-offset-1 col-lg-offset-1 col-md-2 col-lg-2">
        注册新用户
    </div>
    <div id="registerLblTail" class="col-md-9 col-lg-9"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <form id="registerForm" class="col-md-offset-1 col-lg-offset-1">
            <div class="row">
                <div class="col-md-offset-3 col-lg-offset-2 col-md-2 col-lg-2">
                    <div class="formDiv" id="nameDiv">姓名:  </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input id="nameInput"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-lg-offset-2 col-md-2 col-lg-2">
                    <div class="formDiv" id="genderDiv">性别:  </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input/>
                </div>
            </div>
            <div class="row">

                <div class="col-md-offset-3 col-lg-offset-2 col-md-2 col-lg-2">
                    <div class="formDiv" id="IDCDiv">身份证号:  </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input id="IDCInput"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-lg-offset-2 col-md-2 col-lg-2">
                    <div class="formDiv" id="BirthdateDiv">出生日期:  </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input type="date"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-lg-offset-2 col-md-2 col-lg-2">
                    <div class="formDiv" id="setPW">设置密码:  </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input type="password"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-lg-offset-2 col-md-2 col-lg-2">
                    <div class="formDiv" id="checkPWDiv">确认密码:  </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input type="password"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-lg-offset-2 col-md-2 col-lg-2">
                    <div class="formDiv" id="phoneNumDiv">手机号码:  </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-5 col-md-offset-5 col-md-4 col-lg-4 ">
                    <input type="checkbox">
                    <span class="lblGrey">本人同意</span><a href="#">预约挂号服务协议</a>
                </div>
            </div>
            <div class="row">
                <button class="btn btnOrange col-lg-2 col-md-2 col-md-offset-5 col-lg-offset-5" id="registerBtn">注册</button>
            </div>
        </form>
    </div>
</div>


</body>
</html>