<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医院查询</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/search_hospital.css">
</head>
<body>
    <div class="header"></div>
    <div class="main-body">
        <div class="index-container">
            <div class="index-left">
                <div class="il-left">
                    <div class="il-detail">
                        医院类型：
                    </div>
                    <div class="il-detail">
                        医院级别：
                    </div>
                    <div class="il-detail">
                        地域：
                    </div>
                    <div class="il-detail">
                        服务类型：
                    </div>
                </div>
                <div class="il-right">
                    <div class="il-r-container">
                        <div class="il-r-detail">
                            <!--padding没有被填充颜色。。。挺难看的，不知道咋回事-->
                            <a href="#"  >全部</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >综合医院</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >专科医院</a>
                        </div>
                        <!--<ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="active"><a href="#">Home</a></li>
                            <li role="presentation"><a href="#">Profile</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                        </ul>-->
                    </div>
                    <div class="il-r-container">
                        <div class="il-r-detail">
                            <a href="#"  >全部</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >三级甲等</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >三级医院</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >二级医院</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >一级医院</a>
                        </div>
                    </div>
                    <div class="il-r-container">
                        <div class="il-r-detail">
                            <a href="#"  >全部</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >东城区</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >西城区</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >朝阳区</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >丰台区</a>
                        </div>
                    </div>
                    <div class="il-r-container">
                        <div class="il-r-detail">
                            <a href="#"  >全部</a>
                        </div>
                        <div class="il-r-detail">
                            <a href="#"  >可挂号</a>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
            <!--</div>-->
            <div class="index-right">
                <div class="ir-top">
                    挂号规则
                </div>
                <div class="ir-body">
                    <p>
                        1.每日8:00左右更新后一天号源
                    </p>
                    <p>
                        2.可预约明天和未来1周号源
                    </p>
                    <p>
                        3.请遵守预约时间，到医院就诊
                    </p>
                </div>
            </div>
        </div>
        <div class="hosp-container">





            <!--<div class="hc-pic-box">-->
                <!--<img src="/static/img/new_search_doctor_03.png">-->
                <!--<div class="hc-text">-->
                    <!--<span class="hs-name">北京大学人民医院: </span><span id="hosname">{{hosname}}</span><br>-->
                    <!--<p class="hs-name">北京大学人民医院</p><p>{{hosname}}</p>-->
                    <!--<p class="hs-info">有优质医生xx人 | 完成服务xxx次</p>-->
                    <!--<p class="hs-info">医院地址： xxxxxxx</p>-->
                <!--</div>-->
                <!--<p><a href="#" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>-->
            <!--</div>-->
            {% if flagbool %}
            {% for hos in hosinfo %}
            <div class="hc-pic-box">
                <img src="{{hos.0.img}}" width = "180px" height="120px">
                <div class="hc-text">
                    <!--<p class="hs-name"><a href="/OrderAndVisit/hospital/{{hos.0.id}}/">{{hos.0.name}}</a></p>-->
                    <!--<p class="hs-name">医院： </p>-->
                    <p class="hs-name"><a href="/OrderAndVisit/hospital/{{hos.0.id}}/">{{hos.0.name}}</a></p>
                    <p class="hs-no-real-name">&nbsp;</p>
                    <p class="hs-info">有优质医生{{hos.1}}人 | 完成服务{{hos.2}}次</p>
                    <p class="hs-info">医院地址： {{hos.0.address}}</p>
                </div>
                <p><a href="/OrderAndVisit/hospital/{{hos.0.id}}/" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>

            </div>
            {% empty %}
            <div class="hosp-container">
            <div class="no-hospital">
                <img src="/static/img/no-hospital.png">
                <p>抱歉！没有符合条件的医院</p>
            </div>
            </div>
            {% endfor %}
            {% else %}
            {% for dep in depinfo %}
            <div class="hc-pic-box">
                <img src="{{dep.0.hospitalId.img}}" width = "180px" height="120px">
                <div class="hc-text">
                    <!--<p class="hs-name"><a href="/OrderAndVisit/hospital/{{hos.0.id}}/">{{hos.0.name}}</a></p>-->
                    <p class="hs-name"><a href="/OrderAndVisit/officeinfo/o1{{dep.0.id}}d2/">{{dep.0.name}}</a></p>
                    <p class="hs-real-name">&nbsp;&nbsp;&nbsp;&nbsp;{{dep.0.hospitalId.name}}</p>
                    <p class="hs-info">有优质医生{{dep.1}}人 | 完成服务{{dep.2}}次</p>
                    <p class="hs-info">医院地址： {{dep.0.hospitalId.address}}</p>
                </div>
                <p><a href="/OrderAndVisit/officeinfo/o1{{dep.0.id}}d2/" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>

            </div>
            {% empty %}
            <div class="hosp-container">
            <div class="no-hospital">
                <img src="/static/img/no-hospital.png">
                <p>抱歉！没有符合条件的医院</p>
            </div>
            </div>
            {% endfor %}
            {% endif %}









            <!--{% for hospital in hospitals %}-->
            <!--<div class="hc-pic-box">-->
                <!--<img src="/static/img/new_search_doctor_03.png">-->
                <!--<div class="hc-text">-->
                    <!--<p class="hs-name">{{hospital.name}}</p>-->
                    <!--<p class="hs-info">有优质医生{{test.0.1}}人 | 完成服务{{test}}次</p>-->
                    <!--<p class="hs-info">医院地址： {{hospital.address}}</p>-->
                <!--</div>-->
                <!--<p><a href="#" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>-->
            <!--</div>-->
            <!--{% endfor %}-->
            <!--<div class="hc-pic-box">-->
                <!--<img src="/static/img/new_search_doctor_03.png">-->
                <!--<div class="hc-text">-->
                    <!--<p class="hs-name">北京大学人民医院</p>-->
                    <!--<p class="hs-info">有优质医生xx人 | 完成服务xxx次</p>-->
                    <!--<p class="hs-info">医院地址： xxxxxxx</p>-->
                <!--</div>-->
                <!--<p><a href="#" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>-->
            <!--</div>-->
            <!--<div class="hc-pic-box">-->
                <!--<img src="/static/img/new_search_doctor_03.png">-->
                <!--<div class="hc-text">-->
                    <!--<p class="hs-name">北京大学人民医院</p>-->
                    <!--<p class="hs-info">有优质医生xx人 | 完成服务xxx次</p>-->
                    <!--<p class="hs-info">医院地址： xxxxxxx</p>-->
                <!--</div>-->
                <!--<p><a href="#" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>-->
            <!--</div>-->
            <!--<div class="hc-pic-box">-->
                <!--<img src="/static/img/new_search_doctor_03.png">-->
                <!--<div class="hc-text">-->
                    <!--<p class="hs-name">北京大学人民医院</p>-->
                    <!--<p class="hs-info">有优质医生xx人 | 完成服务xxx次</p>-->
                    <!--<p class="hs-info">医院地址： xxxxxxx</p>-->
                <!--</div>-->
                <!--<p><a href="#" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>-->
            <!--</div>-->
        </div>
        {% if pagerange %}
        <nav class="page-direct">
            <ul class="pagination">
                <li><a href="/OrderAndVisit/hospitalSearch/{{hospitalname}},{{flag}},1">&laquo;</a></li>
                {% for i in pagerange%}
                    <li><a href="/OrderAndVisit/hospitalSearch/{{hospitalname}},{{flag}},{{i}}">{{i}}</a></li>
                {% endfor %}
                <li><a href="/OrderAndVisit/hospitalSearch/{{hospitalname}},{{flag}},{{pageend}}">&raquo;</a></li>
            </ul>
        </nav>
        {% endif %}
    </div>


<div class="footer"></div>
</body>
<script type="text/javascript" src="/static/js/jquery-3.0.0.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/search_hospital.js"></script>
<script src="/static/js/addheader.js"></script>
</html>