<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医院查询</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/search_doctor.css">
</head>
<body>
<!--<div class="header"></div>-->
<div class="main-body">
    <div class="index-container">
        <div class="index-left">
            <div class="il-left">
                <div class="il-detail">
                    医院类型：
                </div>
                <div class="il-detail">
                    医院级别：
                </div>
                <div class="il-detail">
                    地域：
                </div>
                <div class="il-detail">
                    服务类型：
                </div>
            </div>
            <div class="il-right">
                <div class="il-r-container">
                    <div class="il-r-detail">
                        <!--padding没有被填充颜色。。。挺难看的，不知道咋回事-->
                        <a href="#"  >全部</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >综合医院</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >专科医院</a>
                    </div>
                    <!--<ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">Profile</a></li>
                        <li role="presentation"><a href="#">Messages</a></li>
                    </ul>-->
                </div>
                <div class="il-r-container">
                    <div class="il-r-detail">
                        <a href="#"  >全部</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >三级甲等</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >三级医院</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >二级医院</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >一级医院</a>
                    </div>
                </div>
                <div class="il-r-container">
                    <div class="il-r-detail">
                        <a href="#"  >全部</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >东城区</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >西城区</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >朝阳区</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >丰台区</a>
                    </div>
                </div>
                <div class="il-r-container">
                    <div class="il-r-detail">
                        <a href="#"  >全部</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >可挂号</a>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
        <!--</div>-->
        <div class="index-right">
            <div class="ir-top">
                挂号规则
            </div>
            <div class="ir-body">
                <p>
                    1.每日8:00左右更新后一天号源
                </p>
                <p>
                    2.可预约当天和未来2周号源
                </p>
                <p>
                    3.请参考短信提示，到医院就诊
                </p>
                <p>
                    4.就诊前一天16:00前
                </p>
            </div>
        </div>
    </div>
    <div class="hosp-container">
        <div class="hc-pic-box">
            <img src="../static/img/new_search_doctor_03.png">
            <div class="hc-text">
                <p class="hs-name">医生C</p>
                <p class="hc-level">副主任医师</p>
                <p class="hs-info">武警总医院</p>
                <p class="hc-info-detail">中西医康复理疗科</p>
                <p class="hs-goodat">擅长诊治</p>
                <p class="hc-goodat-detail">心脑血管疾病，老年性疾病，小二脑瘫，小二多动症，抽动症等疾病的治疗</p>
            </div>
            <p><a href="#" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>
        </div>
        <div class="hc-pic-box">
            <img src="../static/img/new_search_doctor_03.png">
            <div class="hc-text">
                <p class="hs-name">医生C</p>
                <p class="hc-level">副主任医师</p>
                <p class="hs-info">武警总医院</p>
                <p class="hc-info-detail">中西医康复理疗科</p>
                <p class="hs-goodat">擅长诊治</p>
                <p class="hc-goodat-detail">心脑血管疾病，老年性疾病，小二脑瘫，小二多动症，抽动症等疾病的治疗</p>
            </div>
            <p><a href="#" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>
        </div>
        <div class="hc-pic-box">
            <img src="../static/img/new_search_doctor_03.png">
            <div class="hc-text">
                <p class="hs-name">医生C</p>
                <p class="hc-level">副主任医师</p>
                <p class="hs-info">武警总医院</p>
                <p class="hc-info-detail">中西医康复理疗科</p>
                <p class="hs-goodat">擅长诊治</p>
                <p class="hc-goodat-detail">心脑血管疾病，老年性疾病，小二脑瘫，小二多动症，抽动症等疾病的治疗</p>
            </div>
            <p><a href="#" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>
        </div>
        <div class="hc-pic-box">
            <img src="../static/img/new_search_doctor_03.png">
            <div class="hc-text">
                <p class="hs-name">医生C</p>
                <p class="hc-level">副主任医师</p>
                <p class="hs-info">武警总医院</p>
                <p class="hc-info-detail">中西医康复理疗科</p>
                <p class="hs-goodat">擅长诊治</p>
                <p class="hc-goodat-detail">心脑血管疾病，老年性疾病，小二脑瘫，小二多动症，抽动症等疾病的治疗</p>
            </div>
            <p><a href="#" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>
        </div>
    </div>
    <nav class="page-direct">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </nav>

</div>



</body>
<script type="text/javascript" src="../static/js/jquery-3.0.0.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/search_hospital.js"></script>
</html>