<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科室列表</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/search_office.css">
</head>
<body>
<div class="header"></div>
<div class="ksgh_content">
<div id="ksgh_top">
    <div class="ksgh_top_title"><p class="ksgh_top_p">热门科室</p></div>
    <div class="ksgh_top_content">
        <ul class="ksgh_top_ul">
            <li><a href="/OrderAndVisit/hospitalSearch/神经外科,2,1/">神经外科</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/妇科,2,1/">妇科</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/产科,2,1/">产科</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/儿科,2,1/">儿科</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/骨科,2,1/">骨科</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/眼科,2,1/">眼科</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/耳鼻喉,2,1/">耳鼻喉</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/肿瘤外科,2,1/">肿瘤外科</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/肿瘤综合科,2,1/">肿瘤综合科</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/皮肤美容,2,1/">皮肤美容</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/心理咨询科,2,1/">心理咨询科</a></li>
            <li><a href="/OrderAndVisit/hospitalSearch/中医科,2,1/">中医科</a></li>
        </ul>
        <!--<ul class="ksgh_top_ul2">-->
            <!--<li><a >急诊科</a></li>-->
        <!--</ul>-->
    </div>
</div>
<div id="ksgh_c_content">

    <div class="ksgh_c_right">
        <div class="ksgh_top_title"><p class="ksgh_top_p">全部科室</p></div>
        {% regroup dep by classinfo as class_list %}
        {% for class in class_list %}
            <p class="ksgh_c_right_p"><a name="ks1"></a><span>{{ class.grouper }}</span></p>
            <table width="672" height="44" border="0" class="ksgh_c_right_table">
            <tbody>
            <tr>
                    {% for item in class.list %}
                    {% if forloop.counter|divisibleby:'5' %}
                        <td><a href="/OrderAndVisit/hospitalSearch/{{item.name}},2,1/">{{item.name}}</a></td></tr><tr>
                    {% else %}
                        <td><a href="/OrderAndVisit/hospitalSearch/{{item.name}},2,1/">{{item.name}}</a></td>
                    {% endif %}
                    {% endfor %}
            </tr>
            </tbody>
            </table>
        {% endfor %}
    </div>

    <!--<div class="ksgh_c_right">-->
        <!--<div class="ksgh_top_title"><p class="ksgh_top_p">全部科室</p></div>-->
        <!--<p class="ksgh_c_right_p"><a name="ks1"></a><span>内科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a href="#">心血管内科</a></td>-->
                <!--<td><a>神经内科</a></td>-->
                <!--<td><a>消化内科</a></td>-->
                <!--<td><a>内分泌科</a></td>-->
                <!--<td><a>免疫科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a>呼吸科</a></td>-->
                <!--<td><a>肾病内科</a></td>-->
                <!--<td><a>血液科</a></td>-->
                <!--<td><a>感染内科</a></td>-->
                <!--<td><a>过敏反应科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a>老年病科</a></td>-->
                <!--<td><a>普通内科</a></td>-->
                <!--<td><a>高压氧科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks2"></a><span>外科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a>神经外科</a></td>-->
                <!--<td><a>功能神经外科</a></td>-->
                <!--<td><a>心血管外科</a></td>-->
                <!--<td><a>胸外科</a></td>-->
                <!--<td><a>整形科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a>乳腺外科</a></td>-->
                <!--<td><a>泌尿外科</a></td>-->
                <!--<td><a>肝胆外科</a></td>-->
                <!--<td><a>肛肠科</a></td>-->
                <!--<td><a>血管外科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a>器官移植</a></td>-->
                <!--<td><a>微创外科</a></td>-->
                <!--<td><a>普外科</a></td>-->
                <!--<td><a>脑外科</a></td>-->
                <!--<td><a>烧伤科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks3"></a><span>妇产科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a>妇科</a></td>-->
                <!--<td><a >产科</a></td>-->
                <!--<td><a>妇科内分泌</a></td>-->
                <!--<td><a>妇泌尿科</a></td>-->
                <!--<td><a>遗传咨询科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a>计划生育科</a></td>-->
                <!--<td><a>妇产科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks4"></a><span>生殖中心</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a 64 >生殖中心</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks5"></a><span>儿科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a>儿科</a></td>-->
                <!--<td><a>新生儿科</a></td>-->
                <!--<td><a>小儿呼吸科</a></td>-->
                <!--<td><a>小儿营养保健科</a></td>-->
                <!--<td><a>小儿心内科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a >小儿皮肤科</a></td>-->
                <!--<td><a  >小儿精神科</a></td>-->
                <!--<td><a  >小儿外科</a></td>-->
                <!--<td><a  >小儿心外科</a></td>-->
                <!--<td><a >小儿骨科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a >小儿神经外科</a></td>-->
                <!--<td><a >小儿康复科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks6"></a><span>骨外科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a >骨科</a></td>-->
                <!--<td><a >脊柱外科</a></td>-->
                <!--<td><a >手外科</a></td>-->
                <!--<td><a >创伤骨科</a></td>-->
                <!--<td><a >骨关节科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a >矫形骨科</a></td>-->
                <!--<td><a >骨质疏松科</a></td>-->
                <!--<td><a >骨伤专科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks7"></a><span>眼科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a >眼科</a></td>-->
                <!--<td><a >小儿眼科</a></td>-->
                <!--<td><a >眼底</a></td>-->
                <!--<td><a  >角膜科</a></td>-->
                <!--<td><a >青光眼</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a  >白内障</a></td>-->
                <!--<td><a  >眼外伤</a></td>-->
                <!--<td><a  >眼眶及肿瘤</a></td>-->
                <!--<td><a  >屈光</a></td>-->
                <!--<td><a  >眼整形</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a  >中医眼科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks8"></a><span>口腔科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >口腔科</a></td>-->
                <!--<td><a  >颌面外科</a></td>-->
                <!--<td><a  >正畸科</a></td>-->
                <!--<td><a  >牙体牙髓科</a></td>-->
                <!--<td><a  >牙周科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a  >口腔粘膜科</a></td>-->
                <!--<td><a  >儿童口腔科</a></td>-->
                <!--<td><a  >口腔修复科</a></td>-->
                <!--<td><a  >种植科</a></td>-->
                <!--<td><a  >口腔预防科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a>口腔特诊科</a></td>-->
                <!--<td><a>口腔急诊科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks9"></a><span>耳鼻咽喉头颈科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a>耳鼻喉</a></td>-->
                <!--<td><a>头颈外科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks10"></a><span>肿瘤科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a>肿瘤内科</a></td>-->
                <!--<td><a>肿瘤外科</a></td>-->
                <!--<td><a>肿瘤妇科</a></td>-->
                <!--<td><a>放疗科</a></td>-->
                <!--<td><a>骨肿瘤科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a>肿瘤康复科</a></td>-->
                <!--<td><a >肿瘤综合科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks11"></a><span>皮肤性病科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >皮肤科</a></td>-->
                <!--<td><a  >性病科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks12"></a><span>男性学科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >男性学科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks13"></a><span>皮肤美容</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >皮肤美容</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks14"></a><span>烧伤科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >烧伤科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks15"></a><span>精神心理科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >精神科</a></td>-->
                <!--<td><a  >心理咨询科</a></td>-->
                <!--<td><a  >司法鉴定科</a></td>-->
                <!--<td><a  >双相障碍科</a></td>-->
                <!--<td><a  >药物依赖科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks16"></a><span>中医科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >中医妇产科</a></td>-->
                <!--<td><a  >中医儿科</a></td>-->
                <!--<td><a  >中医骨科</a></td>-->
                <!--<td><a  >中医皮肤科</a></td>-->
                <!--<td><a  >中医内分泌</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a  >中医消化科</a></td>-->
                <!--<td><a  >中医呼吸科</a></td>-->
                <!--<td><a  >中医肾病内科</a></td>-->
                <!--<td><a  >中医免疫内科</a></td>-->
                <!--<td><a  >中医心内科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a  >中医神经内科</a></td>-->
                <!--<td><a  >中医肿瘤科</a></td>-->
                <!--<td><a  >中医血液科</a></td>-->
                <!--<td><a  >中医肝病科</a></td>-->
                <!--<td><a  >中医五官科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a  >中医男科</a></td>-->
                <!--<td><a  >针灸科</a></td>-->
                <!--<td><a  >中医按摩科</a></td>-->
                <!--<td><a  >中医外科</a></td>-->
                <!--<td><a  >中医乳腺外科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a  >中医肛肠科</a></td>-->
                <!--<td><a  >中医老年病科</a></td>-->
                <!--<td><a  >中医科</a></td>-->
                <!--<td><a  >中医内科</a></td>-->
                <!--<td><a  >中医脾胃科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a  >膏方门诊</a></td>-->
                <!--<td><a  >中医骨伤科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks17"></a><span>中西医结合科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >中西医结合科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks18"></a><span>传染病科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >肝病科</a></td>-->
                <!--<td><a  >传染科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks19"></a><span>结核病科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >结核病科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks20"></a><span>介入医学科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >介入医学科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks21"></a><span>康复医学科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >康复科</a></td>-->
                <!--<td><a  >理疗科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks22"></a><span>运动医学科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >运动医学科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks23"></a><span>麻醉医学科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >疼痛科</a></td>-->
                <!--<td><a  >麻醉科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks24"></a><span>职业病科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >职业病科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks25"></a><span>地方病科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >地方病科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks26"></a><span>营养科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >营养科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks27"></a><span>医学影像学</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >核医学科</a></td>-->
                <!--<td><a  >放射科</a></td>-->
                <!--<td><a  >超声科</a></td>-->
                <!--<td><a  >医学影像科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks28"></a><span>病理科</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >病理科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<p class="ksgh_c_right_p"><a name="ks29"></a><span>其他科室</span></p>-->
        <!--<table width="672" height="44" border="0" class="ksgh_c_right_table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><a  >急诊科</a></td>-->
                <!--<td><a  >特色医疗科</a></td>-->
                <!--<td><a  >干部诊疗科</a></td>-->
                <!--<td><a  >重症监护室</a></td>-->
                <!--<td><a  >特诊科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a  >检验科</a></td>-->
                <!--<td><a  >预防保健科</a></td>-->
                <!--<td><a  >功能检查科</a></td>-->
                <!--<td><a  >全科</a></td>-->
                <!--<td><a  >体检科</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><a  >血透中心</a></td>-->
                <!--<td><a  >实验中心</a></td>-->
                <!--<td><a  >碎石中心</a></td>-->
                <!--<td><a  >变态反应科</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>
</div>
<div class="footer"></div>
</body>
<script src="/static/js/jquery-3.0.0.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/search_office.js"></script>
<script src="/static/js/addheader.js"></script>
</html>