<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search_office</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/search_office.css">
</head>
<body>
<div class="content">
    <div class="ksgh_top">
        <div class="ksgh_title">

        </div>
        <div class="ksgh_hot">

        </div>
    </div>
    <div class="ksgh_content">
        <div class="ksgh_left">

        </div>
        <div class="ksgh_right">

        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery-3.0.0.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/search_office.js"></script>
</html>