
body {

}
.login-background{
    height:100%;
    width:100%;
    background-color: gray;
    position: absolute;
    z-index:10000;
    opacity: 0.3;
}
.hidden{
    display: none;
}
.login-table{
    height:350px;
    width:570px;
    position: absolute;
    top: 100px;
    left:225px;
    background-color: #ffffff;
    z-index: 10001;
    margin:100px auto;

}
.fastTop {
    width: 100%;
    height: 76px;
    position: absolute;
    background-color: #ffffff;
}

.searchBox {
    width: 1020px;
    height: 100%;
    padding: 20px 0;
    margin: 0 auto;
    background-color: #ffffff;
    /*position: absolute;*/
    position: relative;
}

.logo, .login {
    width: 134px;
    height: 36px;
    position: absolute;
    margin:0;
}

.logo {

    /*margin:20px auto 20px 0;*/
    margin-left: 0;
    background-color: #ffffff;
}

.area {
    width:100px;
    height:36px;
    position: absolute;
    background-color: #ffffff;
    left: 134px;
    margin: 0;
}

.keyword,#searchForm{
    width: 570px;
    height: 36px;
    left: 238px;
    position: absolute;
    background-color: #ffffff;
    margin: 0;
}
#searchInput{
    width:469px;
    height:36px;
    position: absolute;
    border:1px solid #64BFEF;
    outline: none;
}
#searchButton{
    width:96px;
    height:36px;
    position: absolute;
    left:469px;
    border:1px solid #64BFEF;
    background-color: #64BFEF;
    outline: none;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}
#searchButton:hover{
    background-color: #2BA5ED;
}

.login {
    width:180px;
    right:0;
    background-color: #ffffff;
}
.loginButton{
    width:80px;
    height:36px;
    display: inline-block;
}
.loginButton button{
    width:79px;
    height:36px;
    background-color: #ffffff;
    border:1px solid #e8e8e8;
    outline: none;
    color: #64BFEF;
}
.registerButton{
    width:54px;
    height: 36px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top:0;
    padding-top: 8px;
}
.registerButton a{
    text-decoration: none;
    color: #64BFEF;
}
.banner {
    width:100%;
    height:40px;
    position:absolute;
    top: 76px;
    background-color: #64BFEF;
}

.banner-content{
    width:1020px;
    height:40px;
    margin:0 auto;
    background-color: #64BFEF;
}

.home, .hospitalSearch,.officeSearch,.doctorSearch{
    width:134px;
    height:40px;
    display: inline-block;
    float: left;
    position: relative;
}

.banner a{
    margin:0 auto 0 auto;
    text-align: center;
    position: absolute;
    width:80px;
    height:30px;
    margin:5px 27px;
    padding:5px;
    color: #ffffff;
    text-decoration: none;
}

.banner a:hover{
    color: #C9F6FF;
}
.selected{
    background-color: #2BA5ED !important;
}